@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-shail-darker text-gray-100 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}

@layer components {
  .glass {
    @apply bg-black/20 backdrop-blur-glass border border-white/10;
  }
  
  .glass-strong {
    @apply bg-black/40 backdrop-blur-glass border border-white/20;
  }
}

